@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

* {
  color: #21295C;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  color: #21295C;
}

h3 { 
  display: flex;
  justify-content: center;
  margin: 0 1rem;
  font-size: 1.5rem;
  background-color: #F46036;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
}

.edit-link {
  position: absolute;
  background-color: #2D93AD;
  padding: 10px;
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}