@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

* {
  color: #21295C;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  color: #21295C;
}